.container {
  height: 100vh;
}
.sidebar-nav {
  /* border: 1px solid #000; */
  padding-top: 4em;
  padding-left:4em;
  padding-right: 2em;
  height: inherit;
}

.uk-grid {
  margin-left: 0;
}


.uk-nav .uk-parent {
  position: relative;
}
.uk-nav .uk-parent a::after {
  /* opacity: 0; */
  position: absolute;
  left: 80px;
}

.main-painting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 300px;
}
.uk-nav-divider {
  width: 4em;
}

.uk-nav {
  font-size: 1em;
}
